# macOS
.DS_Store

# Bad code editors
.code

# Python virtual environment
.venv

# Python bytecode
**/__pycache__/

# Python distribution
*.egg-info/
build/
dist/
bin/
common/__pycache__/
lib/
src/paser.out/
src/parsetab.py

# mypy
.mypy_cache/

# Database
*.sqlite3